@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
  width: 5px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
}